nav {
    background-color: white;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    list-style-type: none;
    height: 35px;
}

.mainNavItem {
    margin-right: 0.5rem;

}

.mainNavItem a {
    text-decoration: none;
}

.mainNavItem i {
    margin-right: 0.5rem;
}
